<style>
    .product-card {
        margin: 10px;
        line-height: 1;
        padding: 24px 0 30px 24px;
        border-bottom: 1px solid #f0f0f0;
    }
    .product-card img {
        width: 200px;
        height: 200px;
    }
    .product-card a {
        text-decoration: none;
        color: black;
    }
    .product-card a:hover {
        color: #2874f0;
    }
</style>

<div class="container">
    <% for(var i=0; i < products.length; i++) { %>
    <div class="row product-card">
        <div class="col-4">
            <img class="card-img-top" src="data:image/png;base64,<%= new Buffer(products[i].images[0].image).toString('base64') %>" alt="Card image cap">
        </div>
        <div class="col-6">
            <a href="view_item/<%= products[i].id %>" target="_blank">
                <h5 class="card-title"><%= products[i].name %></h5>
            </a>
            <p class="card-text"><%= products[i].description %></p>

            <% if (products[i].specifications && products[i].specifications.keys().length > 0) { %>
                <% for (const val of products[i].specifications.keys()) { %>
                    <h4><%= val %></h4>
                    <% for(var j=0; j < products[i].specifications.get(val).length; j++) { %>
                        <li><%= products[i].specifications.get(val)[j] %></li>
                        <br>
                    <% } %>
                <% } %>
            <% } %>
        </div>
        <div class="col-2">
            <h4><b>₹<%= products[i].price %></b></h4>
        </div>
    </div>
    <% } %>
</div>