<style>
    .product-card {
        margin: 10px;
        line-height: 1;
        padding: 24px 0 30px 24px;
        border-bottom: 1px solid #f0f0f0;
    }
</style>

<div class="container">
    <% for(var i=0; i < products.length; i++) { %>
    <div class="row product-card">
        <div class="col-4">
            <img class="card-img-top" src="data:image/png;base64,<%= new Buffer(products[i].images[0].image).toString('base64') %>" alt="Card image cap">
        </div>
        <div class="col-6">
            <h5 class="card-title"><%= products[i].name %></h5>
            <p class="card-text"><%= products[i].description %></p>
        </div>
        <div class="col-2">
            <h4><b>₹<%= products[i].price %></b></h4>
            <br>
            <form action="/cart" method="POST">
                <div class="row">
                    <div class="col-6">
                        <input type="hidden" name="item" value="<%= products[i].id %>">
                        <select class="custom-select custom-select-md mb-3" name="qty">
                            <% for(var j=1; j <= products[i].quantity; j++) { %>
                                <option><%= j %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="col-6">
                        <% if (items.includes(products[i]._id)) { %>
                            <a href="/cart" class="btn btn-primary">Go to cart</a>
                        <% } else { %>
                            <button type="submit" class="btn btn-outline-primary">Add to cart</button>
                        <% } %>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <% } %>
</div>